body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(39, 131, 207);
  margin-left: 40px;
  margin-right: 40px;
}
.App {
  font-family: sans-serif;
  text-align: center;
}
h2 {
  margin-top: 0;
}
a {
  color: rgb(255, 238, 0);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
  color: rgb(238, 255, 0);
}
.nav {
  display: flex;
  background-color: rgb(231, 65, 115);
  border-radius: 10px 10px 0 0;
  padding: 10px;
  margin: 0;
  font-weight: bold;
}
.nav,
li {
  list-style: none;
}
.display {
  margin-top: 2px;
  padding: 10px;
  background-color: rgb(231, 65, 115);
  border-radius: 0 0 10px 10px;
}
